@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --primary-color: #ff6a54;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive;
}

.logo {
  font-family: "Comfortaa";
}
